@import "tailwindcss";
@plugin 'lightswind/plugin';

.navButton-basic {
    @apply p-2;
}

.navButton-advanced {
    @apply p-2 text-white;
}

::-webkit-scrollbar {
    width: 5px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
    border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff0000;
}

::-webkit-scrollbar-corner {
    background: #000000;
}